///////////////////////////////////////////////////////////////
// CASE STUDY
///////////////////////////////////////////////////////////////


// HOVER STYLING
.grid {
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    // background: #3085a3;
    // background: #000;
    text-align: center;
    cursor: pointer;
    margin-bottom:0;
}

.grid figure img {
    position: relative;
    display: block;
    // min-height: 100%;
    // max-width: 100%;
    width: 100%;
    height: auto;
    opacity: 0.85;
}

.grid figure figcaption {
    // padding: 2em;
    padding: 20px;
    color: #fff;
    // text-transform: uppercase;
    font-size: 14px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    // font-size: 46px;
    // word-spacing: -0.15em;
    letter-spacing: -0.5px;
    font-weight: 300;

    // @media screen and (max-width: $ipad-wide) {
    //  font-size: 40px;
    // }
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Joe *****/
/*---------------*/

figure.effect-joe figcaption {
    top: auto;
    bottom: 0;
    padding: 10px;
    padding-right: 25px;
    height: 50px;
    /*background: #fff;*/
    background-color: rgba(0, 0, 0, 0.1);
    /*color: #3c4a50;*/
    color: black;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-joe h2 {
    /*float: left;*/
    float: right;
}

figure.effect-joe p.description {
    float: right;
    position: absolute;
    /*bottom: 8em;*/
    bottom: 80px;
    right: 20px;
    /*padding: 2em;*/
    /*color: #fff;*/
    color: black;
    /*text-transform: none;*/
    text-transform: uppercase;
    /*font-size: 90%;*/
    font-size: 80%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-joe h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

figure.effect-joe h2 {
    display: inline-block;
}

@media screen and (max-width: 480px) {
    figure.effect-joe figcaption {
        padding: 15px;
        padding-right: 20px;
    }
    figure.effect-joe h2 {
        font-size: 16px;
    }
}

figure.effect-joe:hover p.description {
    opacity: 1;
}

figure.effect-joe:hover figcaption,
figure.effect-joe:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-joe:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}


// MODAL STYLING
h4.modal-subtitle {
    // margin-top: -15px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.5px;
}

// QUOTE BLOCK STYLING

.testimonial {
    width: 100%;
    //max-width: 365px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 17.5%;
}

@media screen and (max-width: 767px) {
    .testimonial {
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

.testimonial-quote {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}


.testimonial-author {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    margin: 0 2.2em;
}


// IMAGE AND QUOTE HEIGHTS
.iq-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.iq {
    display: table-cell; /* Make elements inside the container behave like table cells */
}


.accordion__content a {
    color: $color__nobel;
}



// MAKE VIDEOS FULL WIDTH AND REMOVE OVERLAP
.video {
    width: 100%;
    clear: both;
}

