/////////////////////////////////////
// EXTRA
////////////////////////////////////


/////////////////////////////////////
// REMOVE BLUE OUTLINE
/////////////////////////////////////
textarea:focus,
input:focus{
    outline: none;
}

/////////////////////////////////////
// STOP CHROME HIGHLIGHTING DIV'S
/////////////////////////////////////
*:focus {
    outline: none;
}



/////////////////////////////////////
// CLICKABLE
//
// IMPORTANT - ADD THIS CLASS TO DIV'S THAT LAUNCH MODALS
// FAILURE TO DO SO WILL MEAN MODALS WON'T OPEN ON MOBILES
// ("A" TAGS AND BUTTONS WILL THOUGH)
//
////////////////////////////////////


.clickable {
    cursor: pointer;
}





/////////////////////////////////////
// LAZY LOADING PLACEHOLDER
/////////////////////////////////////
img.lazy {
	background-image: url('img/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}






//////////////////////////////////////////
// DON'T DISPLAY THE WORDPRESS EDIT LINK
/////////////////////////////////////////

.edit-link {
    display: none;
}


