/////////////////////////////////////
// FOOTER
////////////////////////////////////

// SITE-FOOTER
.site-footer {
	padding-top: 5px;
}

///////////////
// LEFT SIDE
///////////////

// WORKED-WITH BOX
.worked-with-box {
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 15px;
		ul {
			column-count: 2;
			-moz-column-count: 2;
			-webkit-column-count: 2;
			@media screen and (max-width: 640px) {
				&{
					column-count: 1;
					-moz-column-count: 1;
					-webkit-column-count: 1;
				}
			}
		}

}


///////////////
// RIGHT SIDE
///////////////

// CONTACT BOX
.contact-box {
	padding-top: 20px;
	padding-right: 0;
	// padding-bottom: 10px;
	padding-left: 15px;
}

.contact-email {

		a {
			color: $color__heavy-metal;
			transition: $hover__fast;
		}

		a:hover {
			color: $color__nobel;
			transition: $hover__fast;
		}

}

.contact-tel {
		margin-bottom:1em;
		a {
			color: $color__nobel;
			transition: $hover__fast;
		}

		a:hover {
			color: $color__heavy-metal;
			transition: $hover__fast;
		}

}

// SOCIAL ICONS
.social-icons {
	display:none;
	padding-top: 20px;
	padding-bottom: 220px;

		a {
			color: $color__nobel;
			transition: $hover__fast;
		}

		a:hover {
			color: $color__heavy-metal;
			transition: $hover__fast;
		}
}

@media screen and (max-width: 767px) {
	.social-icons {
		padding-bottom: 20px;
	}
}

// SISTER AGENCY TO
.sister-agency {
	position: relative;
	width: 100%;
	max-width: 290px;
	padding-bottom: 15px;

		a {
			color: $color__nobel;
			transition: $hover__fast;
		}

		a:hover {
			color: $color__heavy-metal;
			transition: $hover__fast;
		}
}

// GDPR links
.gdprlinks {
	position: relative;
	width: 100%;
	max-width: 290px;
	padding-bottom: 15px;

		a {
			color: $color__nobel;
			transition: $hover__fast;
		}

		a:hover {
			color: $color__heavy-metal;
			transition: $hover__fast;
		}
}
#privacy_policy_modal{
	.close {
	    color: #fff;
	}

	.close:focus,.close:hover {
	    color: #000000;
	}
	h2{color:#141414;font-size:16px;}
	p{
		color:#fff;
		a{
			color:#ffffff;
			text-decoration:underline;
		}
	}
	address{display:block;color:#fff;margin-top:1em;}
	ul{
		list-style-type:disc;
		padding-left:1.5em;
		color:#fff;
		li{margin-bottom:1em;}
	}
}


// COPYRIGHT LINE
.copyright {
	// text-align: center;
	padding-bottom: 20px;
	padding-left: 15px;

		a {
			color: $color__nobel;
			transition: $hover__fast;
		}

		a:hover {
			color: $color__heavy-metal;
			transition: $hover__fast;
		}
}



