/////////////////////////////////////
// HEADER
////////////////////////////////////

//LOGO
.logo {
    width: 100%;
    max-width: 250px;
    padding-top: 50px;
    // padding-bottom: 20px;
    padding-left: 2px;
}

// SITE TITLE (IF USING TEXT VERSION)
h1.site-title {
	font-size: 38px;
	font-weight: bold;
    letter-spacing: -1.5px;
}

.site-branding{
	.container{
		display:flex;
	}
	.logo,nav{width:49%;}
	nav{
		margin-top:50px;
		ul{
			list-style-type:none;
			padding-left:0;
			&:after{
				content:' ';
				float:none;
				clear:both;
				display:block;
			}
			li{
				display:inline-block;
				float:left;
				clear:none;
				padding-right:1em;
				a{	
					-webkit-transition: all .3s ease-in-out 0s;
					transition: all .3s ease-in-out 0s;
					color:#d0d0d0;
					font-weight:bold;
					&:hover{
						color:#000;
					}
				}
				&.current{
					a{
						color:#000;
					}
				}
			}
		}
	}
}