/////////////////////////////////////
// INTRO
////////////////////////////////////

// STRAP LINE
.strap-line {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 40px;
    padding-bottom: 20px;
    // padding-right: 90px;
    h1{
        margin:0;
        padding:0;
        color:#000;
        font-size:35px;
        font-weight:700;
    }
}

// INTRO TEXT
.intro-text {
    font-size: 22px;
    font-weight: 100;
    line-height: 28px;
    padding-bottom: 20px;
    // padding-left: 90px;
}

@media only screen and (max-width: 960px) and (min-width: 1px) {
    .strap-line {
        font-size: 28px;
        line-height: 32px;
    }
    .intro-text {
        font-size: 18px;
        line-height: 22px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .intro-text {
        padding-left: 0;
        // padding-right: 0;
    }
}
.workFilter{
    a{
        color:#d0d0d0;
        font-weight:bold;
    }
    a:hover,a.selected{
        color:#000;
    }
}