/////////////////////////////////////
// OFFICE LOCATIONS
////////////////////////////////////

// IMAGES
.office-image {
	width: 100%;
	max-width: 800px;
	height: auto;
	max-height: 640px;
	object-position: bottom;
}

.office-location__info {
	overflow: hidden;
  h3 {
    position: absolute;
    text-align: center;
    display: block;
    width: calc((100vw - 120px) / 4);
    color: white;
    font-weight: 600;
    /* text-shadow: 2px 2px 8px #000000; */
    margin: 3% 0px 0px 0px;
    font-size: 2.5em;
    	@media screen and (min-width: 1200px) {
    		width: calc(1080px / 4);
        margin: 3% 0px 0px 0px;
    	}
  }
}

@media screen and (max-width: $ipad) {
	.office-image {
		object-fit: cover;
		max-height: 260px;
	}



	.office-location__info {
  		h3 {
  			width: calc((100vw - 60px) / 4);
  			margin: 3% 0px 0px 0px;
    		font-size: 2.5em;
  		}
  	}
}

@media screen and (max-width: $iphone-wide) {
	.office-image {
		object-fit: cover;
		max-height: 200px;
	}


	.office-location__info {
  		h3 {
  			width: calc(100vw - 40px);
  			margin: 9% 0px 0px 0px;
    		font-size: 3.5em;
  		}
  	}

}

@media screen and (max-width: $iphone-plus) {
	.office-image {
		object-fit: cover;
		max-height: 140px;
	}
	.office-location__info {
  		h3 {
  			width: calc(100vw - 60px);
  			margin: 12% 0px 0px 0px;
  			font-size: 2.5em;
  		}
  	}
}

// THE PANEL
div.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.active + .panelOffice {
    max-height: 500px;
}

// THE PANELS CONTENT
.office__details {
    padding-bottom: 20px !important;
    padding-left: 15px !important;

		a {
			color: $color__nobel;
			transition: $hover__fast;
		}

		a:hover {
			color: $color__heavy-metal;
			transition: $hover__fast;
		}
}



