/* our clients - work page subsection */
#our_clients{

	h2{
		color:#000;
		margin:0;
		padding:0;
	}
	h3{
		color:#fff;
		margin:0;
		padding:0;
	}
	ul{
		li{
			color:#fff;
		}
	}
}
.bgbox{
	padding-left:40px;
	padding-right:40px;
	.oc_colums{

		.oc_column{
			margin-bottom:1em;
		}
		@media screen and (min-width:768px){
			&{
				display:flex;
				flex-wrap:wrap;
				justify-content: space-between;
				.oc_column{
					width:48%;
				}
			}
		}
		@media screen and (min-width:1024px){
			&{
				.oc_column{
					width:24%;
					margin-bottom:0;
				}
			}
		}
	}

}
