#talent{
	header{
		h2{
			color:#000;
		}
	}
	.columns{
		@media screen and (min-width:768px){
			&{
				display:flex;
				flex-wrap:wrap;
				justify-content: space-between;
				.column{
					width:49.5%;
				}
			}
		}
	}
	.ltc{
		padding-left:40px;
		padding-right:40px;
		display:flex;
		div.vmid{
			margin:0 0 auto 0;
			h3{
				margin:0;
				font-size:35px;
				font-weight:700;
				color:#000;
			}
			p{
				margin:0;
			}
			a{
				color:#000;
			}
		}
	}
	.rtc{
		padding-left:40px;
		padding-right:40px;
		section.vacanciesList{
			article{
				padding-bottom:20px;
				header{
					position:relative;
					padding-right:40px;
					cursor:pointer;
					h2,h3{
						color:#000;
						margin:0;
						padding:0;
						
					}
					h2{font-size:30px;}
					h3{font-size:20px;}
					div.control{
						position:absolute;
						right:0px;
						top:0px;
						span{
							width:30px;
							height:30px;
							font-size:30px;
							color:#000;
							text-align:center;
							&.alpha{display:block;}
							&.beta{display:none;}
						}
					}
				}
				div.clipper{
					max-height:0;
					overflow:hidden;
					transition: max-height 0.3s ease-out;
					div.content{
						p,ul,ol{
							color:#000;
						}
						p{
							margin-bottom:1em;
						}
						ul,ol{
							padding-left:1.5em;
							
							li{

							}
						}
						ul{
							list-style-type:disc;
						}
						ol{
							list-style-type:decimal;
						}
					}
				}
				&.open{
					div.control{
						span{
							&.alpha{display:none;}
							&.beta{display:block;}
						}
					}
					div.clipper{
						max-height:100em;
					}
				}
			}
		}	
	}
}

