///////////////////////////////////////////////////////////////
// TEAM
///////////////////////////////////////////////////////////////


.accordion__content {
    padding: 15px;
}

.active .panelProfile {
    max-height: 500px;
}

.team-member-grid {
	ul {
		.team-member__profile {
			@media screen and (max-width: 767px) { 
				margin-bottom: 10px;
			}
			img {
				position: absolute;
				@media screen and (min-width: 1201px) { 
					 height: 271px;
					 width: 271px;
					}
				@media screen and (max-width: 1200px) { 
					 width: calc((100vw - 120px) /4);
					}

				@media screen and (max-width: 767px) { 
					 width: calc((100vw - 60px) /2);
					 margin-bottom: 10px;
					}
				-webkit-transition: opacity 0.5s ease-in-out;
				-moz-transition: opacity 0.5s ease-in-out;
				-o-transition: opacity 0.5s ease-in-out;
				transition: opacity 0.5s ease-in-out;
					
			}
			&.active{
				.pic2{ opacity: 0; }
				.pic1{ opacity: 0.5; }
			}
			&.hover{
				.pic1{ opacity: 0; }
			}
			&.hover.active{
				.pic2{ opacity: 1; }
			}
		}
		.panel {
			margin-top: 271px;
			@media screen and (max-width: 1200px) { 
				 margin-top: calc((100vw - 120px) /4);
			}
			@media screen and (max-width: 767px) { 
				 margin-top: calc((100vw - 60px) /2);
			}
		}
	}
}
.not-ios{
	.team-member-grid {
		ul {
			.team-member__profile {
				.pic1:hover{
					opacity: 0;
				}
				&:hover{
					.pic2{ opacity: 1;}
				}
				&.active:hover{
					.pic2{ opacity: 0;  }
					.pic1:hover{ opacity: 0.5; cursor:default; }
				}
				&.active.hover:hover{
					.pic2{ opacity: 1; }
					.pic1:hover{ opacity: 0; cursor:pointer;}
				}
			}
		}	
	}
}