///////////////////////////////////////////////////////////////
// WHAT DO WE OFFER
///////////////////////////////////////////////////////////////

/* home page full width textmodule */
#text001{
    p{
        color:#b3b3b2;
        font-size: 22px;
        font-weight: 100;
        line-height: 28px;
        padding:0 40px 20px 40px;
    }
}


#what-we-offer{
    .marginNull{
        max-width:1200px;
        margin:0 auto;
        padding-left:40px;
        padding-right:40px;
        box-sizing:border-box;
        .container{
            .first-2,.second-2{
                padding-top:40px;
                padding-bottom:40px;
            }
            @media screen and (max-width:$ipad) {
                &{
                    .pad-right-30{
                        padding-right:0px !important;
                        margin-right:0;
                    }
                }
            }
        }
    }
}

.brand-box__left {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 15px;
}

.brand-box__right {
    padding-top: 20px;
    padding-right: 0;
    // padding-bottom: 80px;
    padding-bottom: 20px;
    padding-left: 15px;
}

ul.brand-offers li{
    width: 100%;
    display: inline-block;
    // float: left;
    margin-right: 30px;
    max-width: 170px;
    // height: 28px;
}

// li.brand_underline {
//     display: inline;
// }

.brand_underline {
    border-bottom: 1px solid $color__nobel;
    width: 45%;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .offer-image {
        padding-top: 50px;
        text-align: center;
    }
}


.grey-underline {
    border-bottom: 1px solid $color__nobel;
    margin-bottom: 2px;
    margin-right: 12%;
}

.white-underline {
    border-bottom: 1px solid $color__white;
    margin-bottom: 2px;
    margin-right: 12%;
}


// MINI CASE STUDY INTRO
.mcs-intro {
    font-size: 18px;
    font-weight: 100;
    line-height: 22px;
    padding-right: 30px;
}

.whiteclose{
    color:#fff;
}