  @import "susy";

// Set Grid
$susy: (
  columns: 12,
  gutters: 0.15,
  container: 1200px,
  global-box-sizing: border-box
);

// Add this to the $susy settings above to show the columns on the front end
// debug: (image: show)

* {
  box-sizing: border-box;
}

// Change these values to add padding left and right of the container
body {
  padding: 0;
}

.container {
  @include container();
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (max-width: $ipad) {
  .container {
    @include container();
      padding-left: 20px;
      padding-right: 20px;
  }
}



////////////////////////////////////////////////////////////////////////////
// APPLY THESE CLASSES TO SECTIONS FOR A MAXIMUM WIDTH
////////////////////////////////////////////////////////////////////////////
.widescreen,
.ipad-wide,
.ipad,
.iphone-wide,
.iphone,
.iphone-old {
    width: 100%;
    margin: 0 auto;
}

.widescreen { max-width: $widescreen; }   // 1200px
.ipad-wide { max-width: $ipad-wide; }     // 1024px
.ipad { max-width: $ipad; }               // 768px
.iphone-wide { max-width: $iphone-wide; } // 667px
.iphone-old-wide { max-width: $iphone-old-wide; } // 568px
.iphone { max-width: $iphone; }           // 375px
.iphone-old { max-width: $iphone-old; }   // 320px


/////////////////////////////////////////////////////////
//
// 2 Columns (Equal) Breakpoint (767px)
//
/////////////////////////////////////////////////////////

.first-2 {
  @include span(6);
  clear: both;
    @media screen and (max-width: 767px) {
      @include span(12);
    }
}

.second-2 {
  @include span(6 last);
    @media screen and (max-width: 767px) {
      @include span(12 last);
    }
}

/////////////////////////////////////////////////////////
//
// 2 Columns 25/75 Breakpoint (767px)
//
/////////////////////////////////////////////////////////

.first-25 {
  @include span(3);
  clear: both;
    @media screen and (max-width: 767px) {
      @include span(12);
    }
}

.second-75 {
  @include span(9 last);
    @media screen and (max-width: 767px) {
      @include span(12 last);
    }
}

/////////////////////////////////////////////////////////
//
// 2 Columns 75/25 Breakpoint (767px)
//
/////////////////////////////////////////////////////////

.first-75 {
  @include span(9);
  clear: both;
    @media screen and (max-width: 767px) {
      @include span(12);
    }
}

.second-25 {
  @include span(3 last);
    @media screen and (max-width: 767px) {
      @include span(12 last);
    }
}

/////////////////////////////////////////////////////////
//
// 2 Columns 5/7 Breakpoint (767px)
//
/////////////////////////////////////////////////////////

.first-five {
  @include span(5);
    @media screen and (max-width: 767px) {
      @include span(12);
    }
}

.second-seven {
  @include span(7 last);
    @media screen and (max-width: 767px) {
      @include span(12 last);
    }
}

/////////////////////////////////////////////////////////
//
// 2 Columns 7/5 Breakpoint (767px)
//
/////////////////////////////////////////////////////////

.first-seven {
  @include span(7);
    @media screen and (max-width: 767px) {
      @include span(12);
    }
}

.second-five {
  @include span(5 last);
    @media screen and (max-width: 767px) {
      @include span(12 last);
    }
}

///////////////////////////////////////////////////////////////
//
// 3 Columns (Equal)
//
///////////////////////////////////////////////////////////////

.first-3 {
  @include span(4);
}

.second-3 {
  @include span(4);
}

.third-3 {
  @include span(4 last);
}

///////////////////////////////////////////////////////////////
//
// 3 Columns (Equal) Breakpoint 767px
//
///////////////////////////////////////////////////////////////

.thirds-1 {
  clear: left;
  @include span(4);
    @media screen and (max-width: 767px) {
      @include span(12);
    }
}

.thirds-2 {
  @include span(4);
    @media screen and (max-width: 767px) {
      @include span(12);
    }
}

.thirds-3 {
  @include span(4 last);
    @media screen and (max-width: 767px) {
      @include span(12 last);
    }
}


///////////////////////////////////////////////////////////////
//
// Four Columns (Equal)
//
///////////////////////////////////////////////////////////////

.quarter-1 {
  @include span(3);
    @media screen and (max-width: 767px) {
      @include span(6);
    }
}

.quarter-2 {
  @include span(3);
    @media screen and (max-width: 767px) {
      @include span(6 last);
    }
}

.quarter-3 {
  @include span(3);
    @media screen and (max-width: 767px) {
      @include span(6);
    }
}


.quarter-4 {
  clear: right;
  @include span(3 last);
    @media screen and (max-width: 767px) {
      @include span(6 last);
    }
}


///////////////////////////////////////////////////////////////
//
// CASE STUDY GRID
//
///////////////////////////////////////////////////////////////

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
.case-study-grid {
  @extend %clearfix;
}

.case-study__item {
  @include gallery(6);
  // margin-bottom: gutter();

  @media (max-width: 640px) {
    @include gallery(12 last);

    &:nth-last-child(1n+1) {
      clear: both;
    }
  }

}
*/

ul.caseStudyList{
  li.case-study__item{
    display:inline-block;
    margin-bottom:1em;
    &:after{
      content:' ';
      display:block;
      float:none;
      clear:both;
    }
  }
  @media screen and (min-width:768px){
    &{
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;
      li{
        width:49%;
      }
    }
  }
}

///////////////////////////////////////////////////////////////
//
// PEOPLE GRID
//
///////////////////////////////////////////////////////////////

.team-member__profile {
  @include gallery(3);
  // margin-bottom: gutter();

  @media (max-width: 767px) {
    @include gallery(6 last);

    &:nth-last-child(2n+0) {
      clear: both;
    }
  }

}




///////////////////////////////////////////////////////////////
//
// LOCATION GRID
//
///////////////////////////////////////////////////////////////

.office-location__info {
  @include gallery(3);
  // margin-bottom: gutter();

  @media (max-width: 767px) {
    @include gallery(12 last);

    &:nth-last-child(1n+1) {
      clear: both;
    }
  }

}

///////////////////////////////////////////////////////////////
//
// COLUMNS
//
///////////////////////////////////////////////////////////////

.half {
  @include span(6);
  margin-bottom: 20px;

  @media (max-width: 767px) {
    @include span(12);
  }

  &:last-child {
    @include span(6 last);
  }

}

// .half {
//   @include gallery(6);
//   margin-bottom: 20px;

//   @media (max-width: 767px) {
//     @include gallery(12 last);

//     // &:nth-last-child(2) {
//     //   clear: both;
//     // }
//   }

// }

.third {
  @include gallery(4);
  margin-bottom: 20px;

  @media (max-width: 767px) {
    @include gallery(12 last);

    // &:nth-last-child(3) {
    //   clear: left;
    // }
  }

}

.quarter {
  @include span(3);
  margin-bottom: 20px;

      &:last-child {
      @include span(3 last);
    }

  @media (max-width: 767px) {
    @include span(6);

    &:last-child {
      @include span(6 last);
    }
  }
}

// article {

//   .half & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(6);

//       &:last-child {
//         @include span(6 last);
//       }
//     }
//   }

//   .third & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(4);

//       &:last-child {
//         @include span(4 last);
//       }
//     }
//   }

//   .quarter & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(3);

//       &:last-child {
//         @include span(3 last);
//       }
//     }
//   }

//   .fifth & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(2.4);

//       &:last-child {
//         @include span(2.4 last);
//       }
//     }
//   }

//   .sixth & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(2);

//       &:last-child {
//         @include span(2 last);
//       }
//     }
//   }

//   .seventh & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(1.71428571);

//       &:last-child {
//         @include span(1.71428571 last);
//       }
//     }
//   }

//   .eigth & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(1.5);

//       &:last-child {
//         @include span(1.5 last);
//       }
//     }
//   }

//   .ninth & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(1.33333333);

//       &:last-child {
//         @include span(1.33333333 last);
//       }
//     }
//   }

//   .tenth & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(1.2);

//       &:last-child {
//         @include span(1.2 last);
//       }
//     }
//   }

//   .eleventh & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(1.09);

//       &:last-child {
//         @include span(1.09 last);
//       }
//     }
//   }

//   .twelfth & {
//     margin-bottom: 20px;

//     @media (min-width: 640px) {
//       @include span(1);

//       &:last-child {
//         @include span(1 last);
//       }
//     }
//   }

// }