////////////////////////////////////////////////////////////
// ANIMATION (WAS ORIGINALLY "FADE")
// RENAMED TO "FADES" AS THIS WAS INTERFERING WITH SLICK
////////////////////////////////////////////////////////////

.fades {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fades.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}
.close {
  // float: right;
  font-size: 40px;
  font-weight: 100;
  line-height: 1;
  color: $color__nobel;
  // text-shadow: 0 1px 0 #ffffff;
  // opacity: 0.2;
  // filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: $color__heavy-metal;
  text-decoration: none;
  cursor: pointer;
  // opacity: 0.5;
  // filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

// MODAL
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fades .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  // background-color: #ffffff; // REPLACED WITH ACF
  // border: 1px solid #999999;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // border-radius: 6px;
  // -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  // box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fades {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}


// MODAL CONTAINER

.modal-header,
.modal-body,
.modal-footer {
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (max-width: $ipad) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal-header {
  padding-top: 15px;
  text-align: right;
  // border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  // margin-top: 5px;
  margin-bottom: -45px;
}
.modal-title {
  // margin-top: 15px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: -0.5px;
  // line-height: 1.42857143;
}

.modal-body {
  position: relative;
}
.modal-footer {
  // padding-top: 15px;
  // padding-right: 0;
  padding-bottom: 20px;
  // text-align: center;
  text-align: right;
  // border-top: 1px solid #e5e5e5;
  clear: both;
}


.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// MODAL WIDTH

.modal-dialog {
  width: 100%;
  max-width: $widescreen;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
    @media screen and (max-width: $ipad) {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

