/////////////////////////////////////////////////////
// 404 PAGE
/////////////////////////////////////////////////////

h1.page-title {
    font-size: 32px;
    line-height: 38px;
}

.return-to-home {
	// text-align: center;
	padding-bottom: 60px;

	a {
		color: $color__heavy-metal;
	}
}

