// Breakpoints
$widescreen: 		1200px;
$ipad-wide:			1024px;
$ipad:				768px;
$iphone-plus-wide:	736px;
$iphone-wide:		667px;
$iphone-old-wide:	568px;
$iphone-plus:		414px;
$iphone:			375px;
$iphone-old:		320px;