$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
// $color__text-main: #404040;
$color__text-main: #b3b3b2;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// Black and White
$color__white: #FFF;
$color__black: #000;

// Brand Colours
$color__heavy-metal: #1d1d1b;
$color__nobel: #b3b3b2;
$color__wild-sand: #f6f6f6;

// TEXT COLOUR CLASSES
.white-text { color: $color__white; }
.black-text { color: $color__black; }
.heavy-metal-text { color: $color__heavy-metal; }
.nobel-text { color: $color__nobel; }
.wild-sand { color: $color__wild-sand; }

// BACKGROUND COLOUR CLASSES
.white-bkg { background-color: $color__white; }
.black-bkg { background-color: $color__black; }
.heavy-metal-bkg { background-color: $color__heavy-metal; }
.nobel-bkg { background-color: $color__nobel; }
.wild-sand-bkg { background-color: $color__wild-sand; }



// http://via.placeholder.com/1200x850/1d1d1b/b3b3b2?text=SLIDER

// http://via.placeholder.com/1167x543/1d1d1b/b3b3b2?text=full%20width

// http://via.placeholder.com/800x568/1d1d1b/b3b3b2?text=half%20width

// http://via.placeholder.com/800x568/1d1d1b/b3b3b2?text=Case%20Study