// PADDING CLASSES

// 10
.pad-top-10 { padding-top: 10px !important; }
.pad-right-10 { padding-right: 10px !important; }
.pad-bottom-10 { padding-bottom: 10px !important; }
.pad-left-10 { padding-left: 10px !important; }

// 20
.pad-top-20 { padding-top: 20px !important; }
.pad-right-20 { padding-right: 20px !important; }
.pad-bottom-20 { padding-bottom: 20px !important; }
.pad-left-20 { padding-left: 20px !important; }

// 30
.pad-top-30 { padding-top: 30px !important; }
.pad-right-30 { padding-right: 30px !important; }
.pad-bottom-30 { padding-bottom: 30px !important; }
.pad-left-30 { padding-left: 30px !important; }