
/*
ln2017
ADMIN
drag-and-drop case study sorter widget
*/

#case_study_ordinate_widget{
  width:100%;
  max-width:500px;
  margin-left:0;
  margin-right:auto;
  list-style-type:none;
  padding:0px 0px 0px 0px;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  -webkit-transition: 50ms border-color ease-in-out;
  transition: 50ms border-color ease-in-out;
  padding:2px;
  box-sizing:border-box;
} 
#case_study_ordinate_widget:after{
  content:'';
  display:block;
  float:none;
  clear:both;
}
#case_study_ordinate_widget li{
  width:50%;
  float:left;
  clear:none;
  margin:0;
  padding:2px;
  background-color:#ffffff;
  cursor:move;
  box-sizing:border-box;
} 
#case_study_ordinate_widget li p{
  border:1px solid #000;
  display:block;
  margin:0;
  padding:10px;
  font-size:1em;
}
#case_study_ordinate_widget li .frame{
  width:100%;
  position:relative;
  padding-top:70%;
  overflow:hidden;
}
#case_study_ordinate_widget li .frame img{
  width:100%;
  display:block;
  position:absolute;
  left:0;
  top:0;
} 
